@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-xs: 12px;
    --font-sm: 16px;
    --font-md: 20px;
    --font-xl: 40px;
    --font-xxl: 70px;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}

body .background-img {
    position: absolute;
    inset: 0;
    color: transparent;
    width: 100%;
    height: 80%;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 1rem 2rem;
    margin: 20px auto;
    max-width: 90%;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    position: relative;
}

.navbar .nav-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar .nav-heading img {
    width: 100px;
}

.height-line {
    border-right: 1px solid black;
    height: 50px;
}

header .navbar .nav-items ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .navbar .nav-items li {
    list-style: none;
}

header .navbar .nav-items li a {
    text-decoration: none;
    color: black;
    font-size: var(--font-xs);
    font-weight: 600;
}

.search-icon {
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    background: #f2f2f2;
    border-radius: 50%;
}

main #heading h1{
    font-size: var(--font-xxl);
    text-align: center;
    color: #f2f2f2;
    margin: 130px auto;
    font-weight: 500;
    width: 90%;
    position: relative;
}

main .menu-box {
    background: white;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    gap: 40px;
    max-width: 850px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

main .menu-box .description {
    max-width: 400px;
}

main .menu-box img {
    width: 100px;
    margin-bottom: 30px;
}
main .menu-box p {
    font-size: var(--font-sm);
    margin-top: 15px;
    line-height: 1.5;
    color: #333;
}
main .menu-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}
main .menu-box button {
    padding: 20px 40px;
    border-radius: 40px;
    font-size: var(--font-md);
    color: white;
    font-weight: 500;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
}

.btn-1 {
    background: linear-gradient(90deg, #1e0847, #bb32fc);
}

.btn-2 {
    background: linear-gradient(90deg, #0f5eff, #72baff);
}

.btn-3 {
    background: linear-gradient(90deg, #a97f46, #d6b98c);
}

.btn-4 {
    background: linear-gradient(90deg, #001c3f, #3484ff);
}

main .activity {
    position: relative;
    top: 40px;
    margin-top: 40px;
    width: 1400px;
    margin-left: -80px;
}

main .activity h2 {
    font-size: var(--font-xl);
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    margin-left: 100px;
}

main .activity .activity-blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

main .activity .activity-blogs .blog img {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 450px;
    min-height: 220px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* main .activity .activity-blogs .blog .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
    color: white;
}

main .activity .activity-blogs .blog .card-content .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

main .activity .activity-blogs .blog .card-content .desc {
    font-size: 14px;
    opacity: 0.8;
} */

.stats {
    position: relative;
    top: 140px;
    width: 1250px;
    margin-left: -160px;
    /* overflow: hidden; */
}

.stat h2 {
    font-size: var(--font-xl);
    font-weight: 400;
    width: 60%;
    margin-left: 100px;
    margin-bottom: 30px;
}

.stat img {
    max-width: 121.27%;
    height: auto;
}

.stat .stat-texts {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-left: 220px;
    margin-bottom: 30px;
}

.stat .stat-texts .stat-text {
    width: 250px;
    margin-bottom: 40px;
    text-align: center;
}