@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-xs: 12px;
    --font-sm: 16px;
    --font-md: 20px;
    --font-xl: 40px;
    --font-xxl: 70px;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}

body .background-img {
    position: absolute;
    inset: 0;
    color: transparent;
    width: 100%;
    height: 80%;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 1rem 2rem;
    margin: 20px auto;
    max-width: 90%;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    position: relative;
}

.navbar .nav-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar .nav-heading img {
    width: 100px;
}

.height-line {
    border-right: 1px solid black;
    height: 50px;
}

header .navbar .nav-items ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .navbar .nav-items li {
    list-style: none;
}

header .navbar .nav-items li a {
    text-decoration: none;
    color: black;
    font-size: var(--font-xs);
    font-weight: 600;
}

.search-icon {
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    background: #f2f2f2;
    border-radius: 50%;
}

main #heading h1 {
    font-size: var(--font-xxl);
    text-align: center;
    color: #f2f2f2;
    margin: 130px auto;
    font-weight: 500;
    width: 90%;
    position: relative;
}

main .menu-box {
    background: white;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    gap: 40px;
    max-width: 850px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

main .menu-box .description {
    max-width: 400px;
}

main .menu-box img {
    width: 100px;
    margin-bottom: 30px;
}

main .menu-box p {
    font-size: var(--font-sm);
    margin-top: 15px;
    line-height: 1.5;
    color: #333;
}

main .menu-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

main .menu-box button {
    padding: 20px 40px;
    border-radius: 40px;
    font-size: var(--font-md);
    color: white;
    font-weight: 500;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
}

.btn-1 {
    background: linear-gradient(90deg, #1e0847, #bb32fc);
}

.btn-2 {
    background: linear-gradient(90deg, #0f5eff, #72baff);
}

.btn-3 {
    background: linear-gradient(90deg, #a97f46, #d6b98c);
}

.btn-4 {
    background: linear-gradient(90deg, #001c3f, #3484ff);
}

main .activity {
    position: relative;
    top: 40px;
    margin-top: 40px;
    width: 1400px;
    margin-left: -80px;
}

main .activity h2 {
    font-size: var(--font-xl);
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    margin-left: 100px;
}

main .activity .activity-blogs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

main .activity .activity-blogs .blog img {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 450px;
    min-height: 220px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.stats {
    position: relative;
    top: 140px;
    width: 1250px;
    margin-left: -160px;
}

.stat h2 {
    font-size: var(--font-xl);
    font-weight: 400;
    width: 60%;
    margin-left: 100px;
    margin-bottom: 30px;
}

.stat img {
    max-width: 121.27%;
    height: auto;
}

.stat .stat-texts {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-left: 220px;
    margin-bottom: 30px;
}

.stat .stat-texts .stat-text {
    width: 250px;
    margin-bottom: 40px;
    text-align: center;
}

main .four-boxes {
    margin-top: 160px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    max-width: 800px;
    margin: 30px auto;
}

.card {
    border-radius: 20px;
    padding: 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 100%;
    position: relative;
}

.card img {
    border-radius: 30px;
    overflow: hidden;
}

.digital-login {
    position: relative;
    top: -90px;
}

main .four-boxes h2 {
    font-size: var(--font-xl);
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    margin-left: 50px;
}

.news h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.news-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "box1 box1 box1 box1 box2"
        "box1 box1 box1 box1 box3"
        "box5 .... box6 box6 box4"
        "box5 .... box6 box6 box7";
    gap: 20px;
    max-width: 1300px;
    margin-bottom: 30px;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.news-card {
    background: #f0f4fc;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-date {
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
}

.news-title {
    font-size: 14px;
    text-align: left;
    color: #000;
}

.news-card img {
    width: 50%;
    border-radius: 12px;
    margin-top: 10px;
    object-fit: cover;
}

.divider img {
    margin-top: 100px;
    max-width: 126.25%;
    margin-left: -155.25px;
    position: relative;
}

.faq-wrapper {
    background-color: #f2f4fb; 
    padding: 60px 20px;
}

.faq-section {
    max-width: 800px;
    margin: 0 auto;
}

.faq h2 {
    text-align: center;
    font-size: var(--font-xl);
    margin-bottom: 40px;
    font-weight: 600;
}

.faq-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding: 25px 30px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: default;
    text-align: left;
}

.faq-button:hover {
    background-color: #f0f2fa;
}

.faq-button::after {
    content: "▾";
    font-size: 18px;
}

.partners {
    margin: 40px 0;
}

.partners h2 {
    font-size: var(--font-xl);
    text-align: center;
    font-weight: 500;
}

.partners .part-imgs{
    margin-top: 60px;
    width: auto; 
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-right: -134px;
}

.partners img {
    width: 150px;
    margin-right: 160px;
}